/* reset code and common code starts */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

  /* list-style-type: none;
  text-decoration: none;
  outline: 0;
  font-weight: 400; */
}

html {
   background: #fafafa;
   scroll-behavior: smooth;
   font-size: 62.5%;

   /* font-family: 'Genos', sans-serif;
   font-family: 'Lobster', cursive;
   font-family: 'Praise', cursive;
   font-family: 'Yuji Mai', serif; */
}

body {
  background: #fff; 
  width:120rem ;
  max-width: 100%;
  margin: auto;
  box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4,-0.1rem 0rem 1rem #c4c4c4
}



/* reset code and common code ends */
